link(rel='import' href='../bower_components/paper-tabs/paper-tabs.html')


polymer-element(name='feed-tabs')
  template
    style.
      paper-tabs.transparent-teal {
        background-color: 00bcd4;
        color: #fff;
        box-shadow: none;
      }

      paper-tabs.transparent-teal paper-tab::shadow #ink {
        color: #fff;
      }

    paper-tabs.transparent-teal(selected="{{selectedTab}}"  on-core-select="{{onSelect}}" flex nobar )
      template(repeat='{{feed in feeds}}')
        paper-tab {{feed.feed.title}}

  script.
    Polymer('feed-tabs', {
      ready: function() {
        this.selectedTab = 0
        this.feeds = document.querySelector('feed-list').feeds;
        this.sidebar = document.querySelector('feed-sidebar');
      },
      onSelect: function(e, detail) {
        if(detail.isSelected) {
          this.sidebar.data = this.feeds[this.selectedTab];
        }
      }
    });
